@font-face {
  font-family: 'VisbyCF';
  src: url("src/VisbyCF-Regular.eot");
  /* EOT */
  src: url("src/VisbyCF-Regular.woff2") format("woff2"), url("src/VisbyCF-Regular.woff") format("woff"), url("src/VisbyCF-Regular.ttf") format("truetype");
  /* TTF */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF';
  src: url("src/VisbyCF-Bold.eot");
  /* EOT */
  src: url("src/VisbyCF-Bold.woff2") format("woff2"), url("src/VisbyCF-Bold.woff") format("woff"), url("src/VisbyCF-Bold.ttf") format("truetype");
  /* TTF */
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'VisbyCF', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

strong {
  font-weight: bold;
}

#banner {
  background-color: #efebe4;
  height: 100vh;
  padding-left: 10%;
}

#banner .text-banner {
  text-align: left;
}

#banner .text-banner h1 {
  color: #c63434;
  font-size: 2.5rem;
}

#banner .col-left {
  padding-top: 10%;
  position: relative;
}

#banner .col-left .logo {
  padding: 10% 10% 15% 0;
  width: 100%;
}

#banner .col-left .receba {
  position: absolute;
  right: -20%;
  bottom: -10%;
  color: #495c59;
}

#banner .refrigerantes {
  position: absolute;
  right: 0;
  top: 0;
  height: 110vh;
}

#motivos {
  background-color: #4d6f64;
  min-height: 50vh;
  padding: 10% 0 10% 0;
}

#motivos .title {
  font-family: 'Roboto Slab', serif;
  color: #94d1be;
  font-weight: bold;
  font-size: 22px;
}

#motivos .motivos-itens {
  color: #fff;
}

#motivos .motivos-itens img {
  height: 100px;
  padding: 1rem;
}

#tutorial {
  background-color: #4d6f64;
  min-height: 50vh;
  padding: 0 0 10% 0;
  position: relative;
}

#tutorial p {
  color: #fff;
}

#tutorial .aprenda {
  color: #94d1be;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 22px;
}

#tutorial .title {
  color: #ebab3c;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 20px;
}

#tutorial .img-left {
  height: 600px;
  width: 400px;
  position: absolute;
  bottom: -10%;
  left: 0;
  z-index: 3;
}

#tutorial .img-left .mobile {
  display: none;
}

#tutorial .img-left .desktop {
  display: block;
}

#tutorial .img-left img {
  width: 100%;
}

#tutorial .col-right {
  height: 100%;
}

#tutorial .col-right .img-right {
  height: 150px;
  width: 266px;
  position: absolute;
  top: 0;
  right: 0;
}

#tutorial .col-right .img-right .mobile {
  display: none;
}

#tutorial .col-right .img-right .desktop {
  display: block;
}

#tutorial .col-right .img-right img {
  width: 100%;
}

#tutorial .col-right .contato {
  text-align: left;
  padding-left: 30%;
}

#tutorial .col-right .icons img {
  width: 2rem;
  margin: 1rem;
}

#brinde {
  background-color: #94d1be;
  min-height: 40vh;
  position: relative;
  padding: 0 10%;
  /* a {
    font-family: 'Roboto Slab', serif;
    font-size: 0.8rem;
    background-color: #495c59;
    color: #94d1be;
    border: solid 1px #495c59;
    padding: 1rem 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    -webkit-animation: scale-up-center 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate-reverse both;
	  animation: scale-up-center 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate-reverse both;
  } */
}

#brinde .title {
  color: #4d6f64;
  font-size: normal;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.2rem;
}

#brinde .mobile {
  display: none;
}

#brinde .desktop {
  display: block;
}

#brinde img {
  position: absolute;
  height: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

#brinde .text {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#brinde .icedtea {
  color: #fff;
  padding-bottom: 2rem;
  line-height: 1rem;
}

#brinde .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#brinde .btn {
  width: 6.4rem;
  line-height: 6.4rem;
  background: #fff;
  color: #495c59;
  border-radius: 50%;
  text-align: center;
  margin: 1.6rem;
  font-size: 0.8rem;
  border: none;
  padding: 0;
  position: relative;
  outline: none;
  font-weight: bold;
}

#brinde .btn:hover {
  background: #495c59;
  color: #fff;
}

#brinde .btn--shockwave.is-active {
  -webkit-animation: shockwaveJump 1s ease-out infinite;
  animation: shockwaveJump 1s ease-out infinite;
}

#brinde .btn--shockwave.is-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-animation: shockwave 1s .65s ease-out infinite;
  animation: shockwave 1s .65s ease-out infinite;
}

#brinde .btn--shockwave.is-active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-animation: shockwave 1s .5s ease-out infinite;
  animation: shockwave 1s .5s ease-out infinite;
}

@-webkit-keyframes shockwaveJump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  55% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes shockwaveJump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  55% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes shockwave {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
  }
  95% {
    -webkit-box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
            box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
  }
  100% {
    -webkit-transform: scale(2.25);
    transform: scale(2.25);
  }
}

@keyframes shockwave {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
  }
  95% {
    -webkit-box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
            box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
  }
  100% {
    -webkit-transform: scale(2.25);
    transform: scale(2.25);
  }
}

#brinde .btn--jump.is-active {
  -webkit-animation: .4s jump ease infinite alternate;
  animation: .4s jump ease infinite alternate;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

#contato {
  background-color: #efebe4;
  padding: 10% 10% 10% 10%;
  min-height: 40vh;
  line-height: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contato .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

#contato .sociais {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  padding-top: 3rem;
}

#contato .sociais a {
  width: 1.8rem;
  padding-left: 2rem;
}

#contato .sociais a img {
  width: 1.8rem;
}

#contato .contacts {
  vertical-align: middle;
  padding-left: 5%;
  font-size: 0.9rem;
}

#contato .contacts img {
  width: 1.2rem;
  margin-right: 1rem;
}

#contato .contacts a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #4d6f64;
}

footer {
  height: 2rem;
  background-color: #c63434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  margin: auto;
}

footer img {
  height: 1rem;
}
/*# sourceMappingURL=style.css.map */